@import "tailwindcss";

@font-face {
  font-family: "Rodin Pro";
  src: url("/fonts/Rodin Pro EB.otf") format("opentype");
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: "Rodin Pro Bold";
  src: url("/fonts/Rodin Pro UB.otf") format("opentype");
  font-weight: 300 800;
  font-style: normal;
}

@theme {
  --color-fg: #fff;
  --color-bg: #015FCC;

  --color-button-1: #16CFFB;
  --color-button-2: #7DE6FD;
  --color-button-3: #77FEFC;

  --font-rodin: "Rodin Pro", sans-serif;
  --font-rodin-bold: "Rodin Pro Bold", sans-serif;
}

@layer base {
  body {
    @apply bg-bg text-fg font-rodin tracking-[-0.35em];
  }
}
